/* General Page Styling with Linear Gradient */
.login-page {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
  /* background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;  */
}

.login-logo {
  line-height: 1;
}
@media (min-width: 1200px) {
  .login-logo {
    width: 280px;
  }
}

.login-logo img {
  width: 219px;
}
.login-logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}
/* Card */
.login-page .card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.login-page .card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}
.login-page .card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}
.modallogo{
  width: 75px;
}